- name: Install Docker and deploy GitLab CI
  hosts: gitlab
  become: yes

  vars:
    user_home: "{{ lookup('env', 'HOME') }}"
    docker_repo_line: 'deb [arch=amd64 signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable'

  vars_prompt:
    - name: gitlab_root_password
      prompt: "Enter GitLab root password. 8+ characters"
      private: yes
      confirm: yes

  tasks:

    - name: Install base packages
      apt:
        name:
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
        state: present
        update_cache: yes

    - name: Check if docker GPG key exists
      file:
        path: /usr/share/keyrings
        state: directory
        mode: '0755'

    - name: Add docker GPG key
      shell: |
        curl -fsSL https://download.docker.com/linux/ubuntu/gpg | \
        gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg
      args:
        creates: /usr/share/keyrings/docker-archive-keyring.gpg

    - name: Remove old Docker repository if exists
      file:
        path: /etc/apt/sources.list.d/docker.list
        state: absent

    - name: Add docker repository
      apt_repository:
        repo: "{{ docker_repo_line }}"
        state: present
        filename: docker
        update_cache: yes


    - name: Install docker and docker compose
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-compose-plugin

    - name: Enable docker
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: Add user to docker group
      user:
        name: "{{ ansible_user_id }}"
        groups: docker
        append: yes

    - name: Creating project directory
      file:
        path: "{{ user_home }}/gitlab-docker"
        state: directory
        mode: "0755"
      become_user: "{{ ansible_user_id }}"
      become: no

    - name: Copy docker-compose.yml
      template:
        src: templates/docker-compose.yml.j2
        dest: "{{ user_home }}/gitlab-docker/docker-compose.yml"
        mode: '0644'
      become_user: "{{ ansible_user_id }}"
      become: no

    - name: Run docker compose. This task can be longer, up to 5 minutes
      command: docker compose up -d
      args:
        chdir: "{{ user_home }}/gitlab-docker"
      become_user: "{{ ansible_user_id }}"
      become: no
    
    - name: Wait for port 8080
      wait_for:
        host: localhost
        port: 8080
        delay: 10
        timeout: 600
          
    - name: Wait for GitLab health endpoint
      uri:
        url: "http://localhost:8080/users/sign_in"
        method: GET
        status_code: 200
      register: result
      until: result.status == 200
      retries: 40
      delay: 15

    - name: Notify that GitLab is ready
      debug:
        msg:
          - " GitLab is deployed and running "
          - " URL: http://localhost:8080 "
          - " Now, you can register runners "
    
    - name: Daily backup cron job
      cron:
        name: "Gitlab daily backup"
        minute: "0"
        hour: "2"
        job: "ansible-playbook -i {{ lookup('env', 'HOME') }}/inventory.ini {{ lookup('env', 'HOME') }}/backup.yml >> /var/log/gitlab-backup.log 2>&1"
        user: "{{ ansible_user_id }}"
